/*element styling*/

body {
    margin:0;
}

main {
    background-color: #434A54;
    color:antiquewhite;
}

h1 {
    font-family: 'Oswald', 'sans-serif';
    text-align: center;
}

section {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

h2 {
    font-family: 'Oswald', 'sans-serif';
    color: #E9B6AD;
}

h3 {
    font-family: 'Oswald', 'sans-serif';
    text-align: center;
}

p {
    font-family: 'Montserrat', 'sans-serif';
}

li {
    font-family: 'Montserrat', 'sans-serif';
}

a {
    font-family: 'Montserrat', 'sans-serif';
}

footer {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    background-color: #E9B6AD;
    color: #434A54;
}

/* class selectors */

.logo {
    display: block;
    text-align: left;
    width: 75px;
    height: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
}

.header {
    background-color: #E9B6AD;
}


.pt-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display:inline-block;
    vertical-align: top;
    margin-left: 25px;
}

.pt-text {
    display: inline-block;
    width: 80%;
}

.group-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: top;
    margin-left: 25px;
    display:inline-block;
}

.group-text {
    display: inline-block;
    width: 80%;
}

.tutor-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display:inline-block;
    vertical-align: top;
    margin-left: 25px;
}

.tutor-text {
    display: inline-block;
    width: 80%;
}

.email {
    text-align: center;
}



